        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    /*Global styles*/
    
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
    
    html {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
        color: #fafafa
    }
    
    ul {
        list-style: none;
    }
    
    p {
        font-size: 1.6rem;
    }
    
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    section {
        padding: 5rem 0;
    }
    
    body {
        background: linear-gradient(rgba(1, 170, 199, .3), rgba(254, 134, 110, .5) 40%, rgba(254, 178, 90, .7)), url("https://cdn.pixabay.com/photo/2016/08/29/23/26/austin-1629454_960_720.jpg") center no-repeat;
        background-size: cover;
    }
    /*header*/
    
    header {
        width: 100%;
        height: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .container {
        width: 100%;
        max-width: 98rem;
        margin: 0 auto;
        padding: 1.5rem;
    }
    
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
    }
    
    .nav-brand {
        width: 3.5rem;
    }
    
    .nav-brand a img {
        border-radius: 50%;
    }
    
    .menu-icons i {
        font-size: 3.5rem;
        color: #fafafa;
        cursor: pointer;
        text-shadow: 2px 2px #6e6e6e;
    }
    
    .closed i {
        color: #e09cb0;
    }
    
    .nav-list {
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(1, 170, 199, .3), rgba(254, 134, 110, .5) 40%, rgba(254, 178, 90, .7)), url("images/white.png");
        background-size: cover;
        position: fixed;
        top: 0;
        right: -101%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1500;
        transition: all 450ms ease-in-out;
        border-bottom: 1px #fafafa;
    }
    
    .nav-list.active {
        right: 0;
        align-items: center;
        justify-content: center;
    }
    
    .closed {
        position: absolute;
        top: 1rem;
        left: 1.5rem;
        text-shadow: 2px 1px #6e6e6e;
    }
    
    .nav-item {
        margin: 1.5rem 0;
        border-bottom: 1px solid #a0a0a0;
        padding: 1rem;
        width: 90%;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-shadow: 2px 2px #6e6e6e;
    }
    
    .nav-item:hover {
        /*transform: scale(1.1);*/
        transition: .3s ease-in-out;
    }
    
    .nav-link {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: #fafafa;
    }
    
    .nav-link:hover {
        color: rgb(254, 134, 110, .5);
    }
    
    .menu-icons:hover {
        transform: scale(1.2);
    }
    /*video player*/
    
    .landing-video {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .landing-video .container {
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    
    .landing-video h1 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        font-size: 5rem;
        color: #fafafa;
        text-shadow: 2px 2px #6e6e6e;
        margin-bottom: -2rem;
        text-align: center;
    }
    
    .video-player {
        margin: 5rem 0 0 0;
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    /*hero*/
    
    .hero {
        width: 100%;
        height: 80vh;
        text-align: center;
    }
    
    .main-message {
        width: 100%;
        max-width: 50rem;
        color: #fafafa;
        text-transform: uppercase;
        transform: translateY(5%);
        backdrop-filter: blur(20px);
        border-radius: 15px;
        padding: 2rem;
    }
    
    .main-message h3 {
        font-size: 1.6rem;
    }
    
    .main-message h1 {
        font-size: 4rem;
        margin: 1rem 0;
    }
    
    .main-message p {
        text-transform: lowercase;
    }
    
    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn {
        border-radius: 2rem;
        display: inline-block;
        background-color: rgba(1, 170, 199);
        margin-top: 2rem;
        padding: 1rem 2.5rem;
        text-transform: uppercase;
        transition: opacity .03s ease-in-out;
        color: white;
    }
    
    .btn:hover {
        background-color: rgba(1, 160, 175);
    }
    
    .hero .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*footer*/
    
    footer .container {
        width: 100%;
        max-width: 98rem;
        margin: 0 auto;
        padding: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .copyright {
        border-top: 1px solid rgba(255, 255, 255, .2);
        padding: 1rem;
        width: 98%;
    }
    
    footer {
        width: 100%;
        height: 15rem;
        z-index: 1;
        color: #fafafa;
        backdrop-filter: blur(20px);
    }
    
    footer p {
        padding: .5rem 0 0rem 0;
        margin: 0rem 0 -2rem 0;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .social-icons {
        margin: -1rem;
        font-size: 3.5rem;
        color: #fafafa;
        cursor: pointer;
        text-shadow: 2px 2px #6e6e6e;
    }
    /*.social-icons:hover {
    transform: scale(1.1);
}*/
    
    .social-icons a:hover {
        opacity: .7;
        text-shadow: 2px 2px #6e6e6e;
    }
    /*media queries*/
    
    @media screen and (min-width: 900px) {
        header {
            height: 8rem;
        }
        .nav-brand {
            width: 2rem;
        }
        .nav-list {
            width: initial;
            height: initial;
            background-color: transparent;
            position: initial;
            top: initial;
            right: initial;
            flex-direction: row;
            transition: initial;
            background: none;
        }
        .menu-icons {
            display: none;
        }
        .nav-item {
            margin: 0 0 0 5rem;
            border-style: none;
        }
        .nav-link,
        .current {
            color: #fafafa;
            position: relative;
            font-size: 1.3rem;
        }
        .nav-link::before,
        .current::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -.5rem;
            background-color: rgb(254, 134, 110);
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 650ms;
        }
        .current::before {
            transform: scaleX(1);
        }
        .nav-link:hover::before {
            transform: scaleX(1);
        }
        .nav-link:hover {
            color: #fafafa;
        }
        header div.container.fixed-top {
            display: flex;
            width: 100%;
            height: 5rem;
            position: fixed;
            top: 0;
            left: 24%;
            z-index: 1;
            backdrop-filter: blur(20px);
            justify-content: center;
            align-items: center;
            transform: translateX(5px);
        }